body {
  text-align: center;
  color: #ffe3fe;
  background-color: #1f142c;
}

/* 
  #1f142c
  #440a67
  #93329E
  #B4AEE8
  #FFE3FE
*/
/* capitalise the first letter of topic list headers */

/* link formatting override*/
a {
  text-decoration: none;
  color: inherit;
}

/* Nav: userGreeting, and Links */
.topicNavLink {
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 10px;
  color: #ffe3fe;
  border: solid black 2px;
  background-color: #93329e;
  border: solid black 2px;
  border-left: solid cyan 2px;
  border-bottom: solid cyan 2px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.topicNavLink:hover {
  color: black;
  background-color: #b4aee8;
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  border-right: solid cyan 2px;
  border-top: solid cyan 2px;
  box-shadow: -2px 0px 0px 0px #93329e inset;
}

/* articleList */
.articleList {
  display: inline;
  justify-content: left;
}
.articleTile {
  margin: 4px 0px 0px 20px;
  width: 80vw;
  min-width: 800px;
  height: 150px;
  color: #ffe3fe;
  border: solid black 2px;
  border-left: solid cyan 3px;
  border-bottom: solid cyan 3px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #93329e;

  display: grid;
  grid-template: 50px 50px 50px / 4fr 1fr;
  grid-template-areas:
    "title votes"
    "topic comments"
    "author created";
}
.articleTile:hover {
  background-color: #93329ee5;
}

/* grid segments */
.articleTitle > a {
  padding-top: 100px;
  display: flex;
  align-items: center;
}
.atTitle {
  grid-area: title;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0px;
  margin-left: 30px;
  width: 100%;
  height: 100%;
}
.atVotes {
  grid-area: votes;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: auto;
}
.atVotes > button {
  margin: 0px;
}
.atVotes > p {
  padding: 0px 5px 0px 5px;
  margin: 0px;
}
.atTopic {
  grid-area: topic;
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin: 0px;
  margin-left: 10px;
  width: auto;
  text-transform: capitalize;
}
.atComments {
  grid-area: comments;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.atAuthor {
  grid-area: author;
  text-align: left;
  margin-left: 10px;
  margin: 0px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  width: auto;
}
.atCreated {
  grid-area: created;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

/* articlePage */
.commentTile {
  margin: 4px 0px 0px 20px;
  width: 80vw;
  min-width: 800px;
  height: 150px;
  color: #ffe3fe;
  border: solid black 2px;
  border-left: solid cyan 3px;
  border-bottom: solid cyan 3px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #93329e;
}
