body {
  text-align: center;
  color: #ffe3fe;
  background-color: #1f142c;
  height: 100vh;
}

/* 
  darkest, bg
  #1f142c

  tiles
  #440a67

  highlights
  #93329E

  extra highlights
  #B4AEE8
  
  text
  #FFE3FE
*/

/* link formatting override*/
a {
  text-decoration: none;
  color: inherit;
}

/* Nav: userGreeting, and Links */
nav {
  margin-left: 200px;
  padding: 0px 200px 10px 0px;

  border: double rgba(0, 255, 255, 0.3) 5px;
  border-left: double cyan 5px;
  border-bottom: double cyan 5px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;

  background-color: #440a67;

  font-family: Orbitron;
  font-style: italic;
}
.topicNavLink {
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 10px;
  color: #ffe3fe;

  border: solid rgba(0, 255, 255, 0.3) 2px;
  border: solid rgba(0, 255, 255, 0.3) 2px;
  border-left: solid cyan 2px;
  border-bottom: solid cyan 2px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: #93329e;
}
.topicNavLink:hover {
  color: black;

  background-color: #b4aee8;
  border-left: solid rgba(0, 0, 0, 0.4) 2px;
  border-bottom: solid rgba(0, 0, 0, 0.4) 2px;
  border-right: solid cyan 2px;
  border-top: solid cyan 2px;

  box-shadow: -2px 0px 0px 0px #93329e inset;
}

.headerContainer > h1,
.headerContainer > h2 {
  font-family: Orbitron;
  font-style: italic;
  letter-spacing: 0.5rem;
}

/* articleList */
.articleList {
  display: inline;
  justify-content: left;
}
.sortForm {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-width: 800px;
  margin: 0px 0px 0px 20px;
}
.sortForm > form > fieldset {
  display: flex;
  flex-direction: row;
}
.sortForm > form > fieldset > select {
  margin: 0px 10px 0px 10px;
}
.articleTile {
  margin: 4px 0px 0px 20px;
  width: 80vw;
  min-width: 800px;
  height: 150px;
  color: #ffe3fe;

  border: solid rgba(0, 255, 255, 0.3) 3px;
  border-left: solid cyan 3px;
  border-bottom: solid cyan 3px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #440a67;

  font-family: Orbitron;
  font-style: italic;

  display: grid;
  grid-template: 50px 50px 50px / 4fr 1fr;
  grid-template-areas:
    "title votes"
    "topic comments"
    "author created";
}

.articleTileWrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
/* grid segments */
.articleTitle > a {
  padding-top: 100px;
  display: flex;
  align-items: center;
}
.atTitle {
  grid-area: title;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0px;
  margin-left: 30px;
  width: 100%;
  height: 100%;
  font-family: Orbitron;
  font-style: italic;
  letter-spacing: 0.2rem;
}
.atTitle:hover {
  /* padding: 0px 5px 0px 5px; */
  /* margin-right: -100px; */
  color: black;

  border-left: solid rgba(0, 0, 0, 0.4) 2px;
  border-bottom: solid rgba(0, 0, 0, 0.4) 2px;
  border-right: solid cyan 2px;
  border-top: solid cyan 2px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;

  box-shadow: -2px 0px 0px 0px #93329e inset;
  background-color: #b4aee8;
}
.atVotes {
  grid-area: votes;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: auto;
}
.atVotes > button {
  margin: 0px;
}
.atVotes > p {
  padding: 0px 5px 0px 5px;
  margin: 0px;
}
.atTopic {
  grid-area: topic;
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin: 0px;
  margin-left: 10px;
  width: auto;
  text-transform: capitalize;
}
.atComments {
  grid-area: comments;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.atAuthor {
  grid-area: author;
  text-align: left;
  margin-left: 10px;
  margin: 0px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  width: auto;
}
.atCreated {
  grid-area: created;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

/* articlePage */
.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0px 0px 20px;
  width: 80vw;
  min-width: 800px;
  color: #ffe3fe;

  border: solid rgba(0, 255, 255, 0.3) 3px;
  border-left: solid cyan 3px;
  border-bottom: solid cyan 3px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #440a67;
}
.articleSubHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;

  font-family: Orbitron;
  font-style: italic;
}
.subHeadContent {
  margin: 0px;
  padding: 0px 10px 20px 10px;
}
.messageBody {
  margin: 0px 20px 0px 20px;

  text-align: left;
  font-family: Orbitron;
}
.articleVotes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: auto;
}
.articleVotes > button {
  margin: 0px 10px 0px 10px;
}

/* post form */
.postForm {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-width: 800px;
  margin: 0px 0px 0px 20px;
}
.postForm > form > fieldset {
  display: flex;
  flex-direction: column;
}
/* comments */
.commentTile {
  margin: 4px 0px 0px 20px;
  width: 80vw;
  min-width: 800px;
  height: auto;
  color: #ffe3fe;
  border: solid black 2px;
  border-left: solid cyan 3px;
  border-bottom: solid cyan 3px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #93329e;

  font-family: Orbitron;
  font-style: italic;

  display: grid;
  grid-template: 1fr 2fr 1fr / 1fr 5fr 1fr;
  grid-template-areas:
    "by posted posted"
    "body body body"
    "delete delete vote";
}
/* grid segments */
.commentBy {
  grid-area: by;
  margin: 0px;
}
.commentPosted {
  grid-area: posted;
  margin: 0px;
  text-align: left;
}
.commentMessageBody {
  grid-area: body;
  width: 95%;
  height: auto;
  padding: 0px 0px 0px 20px;
  text-align: left;

  font-style: normal;
}
.commentVote {
  grid-area: vote;
  margin: 0px;
}
.commentDelete {
  grid-area: delete;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin: 0px;
  width: auto;
}
